//- bootstrap.jade
//- bootstrap mixins


//- Including Icon mixins
include components/icons.pug
//- Including Alert mixins
include components/alerts.pug
//- Including Tooltip mixins
include components/tooltips.pug
//- Including Accordion mixins
include components/accordion.pug
//- Including Carousel mixins
include components/carousel.pug
//- Including Table mixins
include components/tables.pug
//- Including Navbar mixins
include components/navbar.pug
//- Including Toggle Button mixins
include components/toggle.pug
//- Including Nav mixins
include components/navs.pug
//- Including Label mixins
include components/labels.pug
//- Including Panel mixins
include components/panels.pug
//- Including Tab mixins
include components/tabs.pug
//- Including Dropdown mixins
include components/dropdowns.pug
//- Including Form control mixins
include components/forms.pug
//- Including Modal dialog mixins
include components/modal.pug
//- Including List group mixins
include components/list-groups.pug
//- Including Progress bar mixins
include components/progress-bars.pug
//- Including Button mixins
include components/buttons.pug
//- Including Image mixins
include components/images.pug
//- Including Bootswatch theme mixins
include components/bootswatch.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="icon",href="../../favicon.ico")
		title= title
		block styles
			link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
			//link(rel="stylesheet",href="css/bootstrap.min.css")
	body(data-spy="scroll",data-target=".scrollspy")
		block body
			
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
			//script(src="js/jquery.min.js")
			//script(src="js/bootstrap.min.js")
